@model BeautySalon.Models.Appointment

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@
<div class="align-items-center border-bottom d-flex justify-content-between pt-3 px-5 py-1">
    <h3>Add Appoinment</h3>
    <button class="btn btn-outline-white py-2 px-4">
        @Html.ActionLink("My Appoinments", "MyIndex")
    </button>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 appointment pl-md-5 container py-5 vh-100">
        <div class="container py-5 h-100">

            <h4>Appoinment</h4>
            <hr />
            <form class="appointment-form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                @Html.LabelFor(model => model.Ap_UserId, "Ap_UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Ap_UserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Ap_UserId, "", new { @class = "text-danger" })
                </div>
            </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Ap_Service, "Ap_Service", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Ap_Service", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Ap_Service, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ap_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Ap_Date, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="datetime-local" name="ap_date" class="form-control" />
                        @Html.ValidationMessageFor(model => model.Ap_Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                @ViewBag.Message
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="create" class="btn btn-primary btn-outline-white py-3 px-4" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
