@model IEnumerable<BeautySalon.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="align-items-center border-bottom d-flex justify-content-between pt-3 px-5 py-1">
    <h3> Users </h3>
    <button class="btn btn-outline-white py-2 px-4">
        @Html.ActionLink("Create New", "Create")
    </button>
</div>

<div class="container table-responsive py-5">
    <table class="table table-bordered table-hover">
        <thead class="table-head" style="background-color: #fa5bdd; color: white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.user_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_password)
                </th>
                <th>Actions</th>
            </tr>
        </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_password)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.user_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.user_id })
                    </td>
                </tr>
            }
        

    </table>
</div>
